@CHARSET "UTF-8";

@import url("modulo.css");
@import url("tabella.css");
@import url("menu.css");

html
	{
	font-size: 6px;
	font-family: verdana, arial, helvetica;
	}
	
body
	{
	background-color: #f4f4f4;
	border-bottom: transparent 80px solid;
	border-bottom: transparent 5rem solid;
	width: 96%;
	margin-left: auto ;
	margin-right: auto ;
	}

a
	{
	text-decoration: none;
	color: #0000cc;
	}	
	
a:visited
	{
	color: #0000cc;
	}	
		
div.waapplicazione_titolo
	{
	font-size: 2.4em;
	margin-top: 20px;
	margin-top: 1.25rem;
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
	text-shadow: 1px 1px #fff;
	text-shadow: .06rem .06rem#fff;
	color: #0000cc;

	background-color: #dfebfa;
	
	border: #ccc 1px solid;
	border: #ccc .06rem solid;
    border-radius: 0.2em;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	display: inline-block;
	padding: 0.2em 0.6em 0.2em 0.6em;
	
	}
	
div.waapplicazione_testo_libero
	{
	width: 800px ;
	width: 20rem ;
	margin-left: auto ;
	margin-right: auto ;
	margin-top: 40px;
	margin-top: 2.5rem;
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
	}
	
div.waapplicazione_wamenu table
	{
	margin-left: auto ;
	margin-right: auto ;
	margin-bottom: 40px;
	margin-bottom: 2.5rem;
	}	
	
div.waapplicazione_footer
	{
	margin-top: 40px;
	margin-top: 2.5rem;
	}	
	
div.waapplicazione_messaggio_errore,
div.waapplicazione_messaggio_errore form
	{
	margin-top: 40px;
	margin-top: 2.5rem;
	text-align: center;
	}	
	
	
div.waapplicazione_dati_versione	
	{
	margin-top: 60px;
	margin-top: 3.75rem;
	margin-right: 2px;
	margin-right: .125rem;
	padding-top: 10px;
	padding-top: .625rem;
	font-style: italic;
	}
	
div.waapplicazione_telefono_supporto	
	{
	font-weight: bold;
	}
	
div.waapplicazione_azione_chiudi input[type="button"],	
div.waapplicazione_azione_torna input[type="button"]	
	{
	margin-top: 60px;
	margin-top: 3.75rem;
	border: none;
    border-radius: .2em;
	height: 2.5em;
	padding: 0.5em;
	background-color: #0082df;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.3s ease-in-out;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	text-shadow: 1px 1px #000;
	text-shadow: .06rem .06rem #000;
	}
	
div.waapplicazione_diagramma_viaggi,
div.waapplicazione_diagramma_km,
div.waapplicazione_diagramma_co2,
div.waapplicazione_diagramma_iscrizioni,
div.waapplicazione_diagramma_attivazioni,
div.waapplicazione_diagramma_utentiattivigiorno,
div.waapplicazione_diagramma_utentiattivisettimana
	{
	margin-top: 40px;
	margin-top: 2.5rem;
	font-weight: bold;
	border-bottom: #000000 1px solid;
	border-bottom: #000000 .06rem solid;
	}
	
div.waapplicazione_diagramma_viaggi img,
div.waapplicazione_diagramma_km img,
div.waapplicazione_diagramma_co2 img,
div.waapplicazione_diagramma_utenti img
	{
	margin-top: 10px;
	margin-top: .625rem;
	}
	
div.waapplicazione_diagramma_viaggi span,
div.waapplicazione_diagramma_km span,
div.waapplicazione_diagramma_co2 span,
div.waapplicazione_diagramma_iscrizioni span,
div.waapplicazione_diagramma_attivazioni span,
div.waapplicazione_diagramma_utentiattivigiorno span,
div.waapplicazione_diagramma_utentiattivisettimana span
	{
	font-weight: normal;
	}
	
div.esito_inserimento_ok	
	{
	display: none;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 1rem;
	color: #fff;
	background-color: #008000;
	text-align: center;
	position: absolute;
	top: 2rem;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
    border-radius: 0.2em;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	}
	
div.waapplicazione_logo
{
	float: right;
	margin-top: -4.5rem;
}
	
/******************************************************************************/
/***************************  media-queries  **********************************/
/******************************************************************************/

/******************************************************************************/
/****************** 320 *******************************************************/
/******************************************************************************/
@media 
(min-width: 320px)
{
	html
		{
		font-size: 8px;
		}

}

/******************************************************************************/
/****************** 480 *******************************************************/
/******************************************************************************/
@media 
(min-width: 480px)
{
	html
		{
		font-size: 12px;
		}
}

/******************************************************************************/
/****************** 640 *******************************************************/
/******************************************************************************/
@media 
(min-width: 640px)
{
	html
		{
		font-size: 14px;
		}

}

/******************************************************************************/
/****************** 1024 ******************************************************/
/******************************************************************************/
@media 
(min-width: 1024px)
{
	html
		{
		font-size: 16px;
		}

	body
		{
		width: 80%;
		}

}




