.ddmx .item1, 
.ddmx a.item1, 
.ddmx a.item1:hover, 
.ddmx .item1:hover, 
.ddmx .item1:visited, 
.ddmx .item1-active, 
.ddmx .item1-active:hover,

.ddmx .item2, 
.ddmx .item2:hover, 
.ddmx .item2:visited, 
.ddmx .item2-active, 
.ddmx .item2-active:hover

	{
	border:none;
	border-radius: .2em;
	margin-right: 0.3em;
	margin-top: 0.5em;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #b6d464;
	color: #ffffff;
	min-width: 8.3em;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	transition: background 0.3s ease-in-out;
	text-shadow: 1px 1px #000;
	text-shadow: .06rem .06rem #000;
	}
	
.ddmx .item1, 
.ddmx a.item1, 
.ddmx a.item1:hover, 
.ddmx .item1:hover, 
.ddmx .item1:visited, 
.ddmx .item1-active, 
.ddmx .item1-active:hover
	{
	width: 10em;
	height: 2.2em;
	line-height: 100%;
	padding-top: 1.2em; 
	}
	
.ddmx .item1:hover,
.ddmx .item1-active,
.ddmx a.item1-active,
.ddmx a.item1-active:active,
.ddmx a.item1-active:visited,
.ddmx a.item1-active:link,
.ddmx .item1-active:hover,
.ddmx .item2:hover, 
.ddmx .item2-active:hover
{
	background-color: #94b242;
}

	
.ddmx a.item1-active:active,
.ddmx .item2:active, 
.ddmx .item2-active:active
{
	box-shadow: 0.1em 0.1em 0.5em #000 inset;
}

	