form.wamodulo
	{
	background-color: transparent;
	border: none;
	}
	
	
input[type="text"].wamodulo_selezione_ext_non_trovato
	{
	color: #ff0000;
	}

.wamodulo_selezione_ext_lista
	{
	background-color: #000080;
	position: absolute;
	z-index: 1000;
    border: #000000 1px solid;
    border: #000000 .06rem solid;
	padding: 2px;
	padding: 0.125rem;
	height: 200px;
	height: 12.5rem;
	overflow-y: scroll;
	overflow-x: hidden;
	}

a.wamodulo_selezione_ext_lista:active, 
a.wamodulo_selezione_ext_lista:visited, 
a.wamodulo_selezione_ext_lista:link, 
a.wamodulo_selezione_ext_lista,
.wamodulo_selezione_ext_lista a
	{
	text-decoration: none;
	color: #ffffff;
	background-color: #000080;
	width: 100%;
	display: block;
	border-bottom: #cacaca 1px solid;
	border-bottom: #cacaca .06rem solid;
	}

a.wamodulo_selezione_ext_lista:hover
	{
	text-decoration: underline;
	}

div[id*='wamodulo_cornice'] 
	{
    border: #000000 1px solid;
    border: #000000 .06rem solid;
	}

div[id*='wamodulo_cornice'] span
	{
    border: none;
	z-index: 100;
	background-color: #cacaca;
	padding-right: 6px;
	padding-right: .375rem;
	}

div.wamodulo_areatesto_ext span
	{
	border: none;
	}
	
form.wamodulo div.etichetta
	{
	margin-left: 3px;
	margin-left: .19rem;
	margin-top: 20px;
	margin-top: 1.25rem;
	font-weight: bold;
	text-shadow: 1px 1px #ccc;
	text-shadow: .06rem .06rem #ccc;
	}
	
form.wamodulo div.etichetta label
	{
	color: #0082df;
	}
	
form.wamodulo div#messaggio_pwd_scaduta
	{
	font-weight: bold;
	font-size: 1.2em;
	}
	
form.wamodulo div.etichetta label.wamodulo_obbligatorio:after
	{
	content: ' *';
	color: #ff0000;
	}
	

form.wamodulo div.controllo
	{
	}
	
form.wamodulo div.bottone
	{
	display: inline;
	}
	
form.wamodulo div.noncontrollo#separatore_sopra_bottoniera,
form.wamodulo div.noncontrollo#separatore_sotto_bottoniera
	{
	margin-top: 20px;
	margin-top: 1.25rem;
	}
	
form.wamodulo div.controllo input,
form.wamodulo div.controllo textarea,
form.wamodulo div.controllo select,
form.wamodulo div.wamodulo_multiselezione_checkbox
	{
	background-color: #ffffff;
    border-radius: .5em;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	padding: 0.1em 0.5em 0.1em 0.5em;
	padding: .2em .4em;
	font-size: 1em;
	}
	
form.wamodulo div.controllo input:disabled,
form.wamodulo div.controllo textarea:disabled,
form.wamodulo div.controllo select:disabled,
form.wamodulo div.wamodulo_multiselezione_checkbox:disabled
	{
	}
	
form.wamodulo div.bottone input[type="button"],
form.wamodulo div.bottone input[type="submit"],
form.wamodulo div.controllo input[type="button"]
	{
	border: none;
    border-radius: .2em;
	height: 2.5em;
	padding: 0.5em;
	background-color: #0082df;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.3s ease-in-out;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	text-shadow: 1px 1px #000;
	text-shadow: .06rem .06rem #000;
	}
	
form.wamodulo div.bottone input[type="button"]:hover,
form.wamodulo div.bottone input[type="submit"]:hover,
form.wamodulo div.controllo input[type="button"]:hover
	{
	background-color: #0082a0;
	}
	
form.wamodulo div.bottone input[type="button"]:active,
form.wamodulo div.bottone input[type="submit"]:active,
form.wamodulo div.controllo input[type="button"]:active
	{
	box-shadow: 0.1em 0.1em 0.5em #000 inset;
	}
	
.mce-widget button,
.mce-btn button
	{
	background-color: transparent;
	}
	
.mce-container
	{
	border:1px solid red;
	border: .06rem solid red;
	background-color: #ff0000;
	}	
	
[id^="wamodulo_lblradio"]
{
	font-weight: bold;
	color: #0082df;
	margin-left: 4px;
	margin-left: .25rem;
}
	