/* context menu specific */
.contextmenu
	{
	border: #ccc 1px solid;
	border: #ccc .06rem solid;
	background-color: #f0f0f0;
    border-radius: .2em;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	padding: 0.5em 1em 0.5em 2.5em;
	}
	
	
.contextmenu li a,
.contextmenu li a:active,
.contextmenu li a:visited,
.contextmenu li a:link,
.contextmenu li a:hover
	{ 
	border: none;
    border-radius: .2em;
	padding: 0.5em;
	background-color: #0082df;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.3s ease-in-out;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	margin-bottom: 0.2em;
	}
	
.contextmenu li a:hover	
	{ 
	background-color: #0082a0;
	}
	
.contextmenu li a:active	
	{ 
	box-shadow: 0.1em 0.1em 0.5em #000 inset;
	}

form.watabella
	{
	padding: 0px;
	}	
	
table.watabella
	{
	padding: 0px;
	border-collapse: collapse;
	margin-top: 0.2em;
	margin-top: 0.6em;
	margin-bottom: 0.2em;
	margin-bottom: 0.6em;
	}
	
table.watabella tr td
	{
	padding: 0px;
	}
	
table.watabella tr td button,
form.watabella button,
div.watabella_finestra_ordinamento_filtro input[type="submit"], 
div.watabella_finestra_ordinamento_filtro input[type="button"]

	{
	border: none;
    border-radius: .2em;
	height: 2.5em;
	padding: 0.5em;
	background-color: #0082df;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.3s ease-in-out;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	text-shadow: 1px 1px #000;
	text-shadow: .06rem .06rem #000;
	font-size: .8em;
	font-size: .8rem;
	/*width: 8rem;*/
	}

form.watabella button
	{
	margin-right: 0.2em;
	}

form.watabella button[title="Cerca"]
	{
	margin-right: 0px;;
	}

table.watabella tr td button:hover,
form.watabella button:hover,
div.watabella_finestra_ordinamento_filtro input[type="submit"]:hover, 
div.watabella_finestra_ordinamento_filtro input[type="button"]:hover
	{
	background-color: #0082a0;
	}
	
table.watabella tr td button:active,
form.watabella button:active,
div.watabella_finestra_ordinamento_filtro input[type="submit"]:active, 
div.watabella_finestra_ordinamento_filtro input[type="button"]:active
	{
	box-shadow: 0.1em 0.1em 0.5em #000 inset;
	}
	
div.watabella_finestra_ordinamento_filtro
	{
	border: #ccc 1px solid;
	border: #ccc .06rem solid;
	background-color: #f0f0f0;
    border-radius: .2em;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	height: auto;
	width: auto;
	padding: 1% 2% 1% 2%;
	}

form.watabella input,
div.watabella_finestra_ordinamento_filtro input,
div.watabella_finestra_ordinamento_filtro select
	{
	background-color: #ffffff;
    border-radius: .5em;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	padding: .2em .4em;
	font-size: 1em;
	}
	
	
form.watabella table
	{
    border-collapse: separate;
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;

	border: #ccc 1px solid;
	border: #ccc .06rem solid;
    border-radius: .2em;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	}

form.watabella table tr th
	{
	border: none;
    border-left: 1px solid #ccc;
    border-left: .06rem solid #ccc;
    border-top: 1px solid #ccc;
    border-top: .06rem solid #ccc;
	padding: 0.4em 0.3em 0.4em 0.3em;
	background-color: #dfebfa;
	text-shadow: 1px 1px #ffffff;
	text-shadow: .06rem .06rem #ffffff;
    box-shadow: 0.3em 0.3em 0.3em 0em #000; 
	}

form.watabella table tbody tr:hover
	{
	background-color: #f0f0f0;
	color: #000000;
	}

form.watabella table tbody tr.selezionata
	{
	color: #000000;
	background-color: transparent;
	}

form.watabella table tr td
	{
	border: none;
    border-left: 1px solid #ccc;
    border-left: .06rem solid #ccc;
    border-top: 1px solid #ccc;
    border-top: .06rem solid #ccc;
	vertical-align: top;
	padding: 0.4em 0.3em 0.4em 0.3em;
	}
	
form.watabella table tr th:first-child,
form.watabella table tr td:first-child
	{
	border-left: none;
	}
	
form.watabella table th:first-child 
	{
    border-radius: .2em 0 0 0;
	}

form.watabella table th:last-child 
	{
    border-radius: 0 .2em 0 0;
	}
	
	
form.watabella table tr:last-child td:first-child 
	{
    border-radius: 0 0 0 0.2em;
	}

form.watabella table tr:last-child td:last-child 
	{
    border-radius: 0 0 0.2em 0;
	}
	
form.watabella table tr:hover
	{
	background-color: #f8f8f8;
	color: #000000;
	}
	
form.watabella table td button
	{
	width: 4.5rem;
	padding: 0;
	height: 1.4rem;
	}

