body
	{
	background-color: #f4f4f4;
	}

.ddmx .item1, .ddmx .item1:hover, .ddmx .item1:visited, .ddmx .item1-active, .ddmx .item1-active:hover
	{
	background-color: transparent;
	width:	100%;
	}
 	
.waapplicazione_titolo
	{
	margin-bottom: 2em;
	}

form.modulo_sfuso table td
	{
	vertical-align: top;
	padding: 0.5em;
	}

 .ddmx .item1, .ddmx .item1:hover, .ddmx .item1:visited, .ddmx .item1-active, .ddmx .item1-active:hover
	{
	color: #000080;
	border: none; 
	text-align: left;
	}
	
div.waapplicazione_note_modulo
	{
	margin-bottom: 2em;
	margin-top: 2em;
	border: #000000 1px solid;
	padding: 0.5em;
	font-size: 0.8em;

	}